# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle
gradlew
gradlew.bat
gradle.properties

# other
eclipse
run
logs
CREDITS.txt
*.zip
*jar

# Files from Forge MDK
forge*changelog.txt

# VSCode
.vscode/